 #bg {
   background-color: #252B42;
   height: 607px;
   margin-bottom: 200px;
 }

 #branch-world-text {
   color: white;
font-family: Montserrat;
p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

h2 {
  font-weight: bold;
  font-family: sans-serif;
}
 }