#best-sale {
  background-color: #00001a;
  * {
  color: white;
  }
  .card-title, .text-muted {
    color: #8EC2F2;
  }
}
* {
  font-family: Montserrat;

}
.highLighted {
  * {
    color: white !important;
  }
background-color: cornflowerblue;

}
.card2 {
  margin: 5px;
  

  li {
    width: fit-content;
  }

  .card-body {
    width: fit-content;
    white-space: nowrap;
  }

img {
width: 48px;
height: 39.53px;
top: 35px;
}


h3 {
  height: 32px;
  left: 40px;
  top: 84.53px;

font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;

color: #252B42;
}


p {
  position: static;
width: 213px;
height: 40px;
left: 40px;
top: 126.53px;

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;

color: #737373;
}


li {
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #252B42;
}

 h1 {
color: #8EC2F2;
}
}
